.user-item {
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

p {
  margin: 0;
  padding-left: 10px;
  color: rgb(32, 32, 32);
  font-size: 15px;
}

h4 {
  padding-left: 10px;
}
